%script{id: 'MenuItem', type: 'text/x-handlebars-template'}
  /%img{src: '{{menu_item.image_url}}'}
  %a{href: '{{menu_item.url}}'} {{menu_item.name}}
  
%script{id: 'Main', type: 'text/x-handlebars-template'}
  %h1 Scoreboard