!!!
%html
  %head
    %meta{:'http-equiv' => "Content-Type", :content => "text/html; charset=utf-8"}
    %meta{:name => "lang", :content => "en"}

    %title Scoreboard Invoicing

    %link{href: '/stylesheets/screen.css', media: "screen", rel: 'stylesheet', type: "text/css"}

  %body
    = yield

    = partial(:'_templates')
    
    = partial(:'_scripts')